.headBox {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.bodyBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footBox {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}