.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    vertical-align: middle;
}

.input_title {
    height: 40px;
    width: 100%;

    font-size: large;
}

.input_content {
    height: 360px;
    width: 100%;

    font-size: large;
}